{% extends "base.html.twig" %}
{% block body %}
    <body style="background:#F7F7F7;">

        <div class="">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form">
                    <section class="login_content">
                        <form action="{{path('logincheck')}}" method="POST">
                            <h1>Login Form</h1>
                            {% if error %}
                                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required name="_username" value="{{ last_username }}"/>
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required name="_password" />
                            </div>
                            <div>
                                <input type="submit" class="btn btn-default submit" name="submit" value="Login" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <h1><img src="{{asset('/images/tttl-logo.png')}}" style="width:30px; height: 30px;" class="img"/> Tamusgen Travel & Tours Ltd.</h1>

                                    <p>{{ date()|date('Y') }} All Rights Reserved. Tamusgen Travel & Tours Ltd.</p>
                                </div>
                            </div>
                        </form>
                        <!-- form -->
                    </section>
                    <!-- content -->
                </div>
            </div>
        </div>

    </body>
{% endblock %}
{% block script %}
{% endblock %}