{% extends 'base.html.twig' %}
{% block pagecontent %}           
    <div class="row"> 
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>{{pagetitle}}</h3>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12" id='partnerlist'>
                    {% if users is not empty %}
                        <table class="table table-bordered table-condensed table-striped">
                            <thead>
                                <tr><th>S/N</th><th>Full Name</th><th>Date Created</th><th>Status</th><th>Action</th></tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr id="user{{user.getUserId()}}">
                                        <td>{{loop.index}}</td>
                                        <td>{{user.getUserFullName('s, f o')}}</td>
                                        <td>{{user.getUserDetail().getDateCreated()|date('d/M/Y')}}</td>
                                        <td id="statustxt{{user.getUserId()}}">{{user.getUserDetail().getStatus()|humanize|capitalize}}</td>
                                        <td>
                                            {% if(user.getUserDetail().getStatus()!='not_ready') %}
                                                <button type="button" class="btn btn-info btn-sm togglestatus" data-userid = "{{user.getUserId()}}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <span id="statusaction{{user.getUserId()}}">{{(user.getUserDetail().getStatus()=='active')?('Deactivate'):('Activate')}}</span>
                                                </button>
                                            {% endif %}
                                            {% if(user.getUserDetail().getStatus()=='not_ready') %}
                                                <button type="button" class="btn btn-danger btn-sm remove" data-userid = "{{user.getUserId()}}">
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning" role="alert">No Record Found!</div>
                    {% endif %}
                    <a href="{{path('createuser')}}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New User
                    </a>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type='text/javascript'>
        $(document).on("click", ".togglestatus", function (event) {
            userid = $(this).attr("data-userid");
            curstatus = $("#statusaction" + userid).text();
            $("#statusaction" + userid).text("toggling...");
            $.ajax({
                type: 'GET',
                url: '{{path('toggleuserstatus')}}',
                data: {userid: userid}
            }).done(function (data) {
                data = data - 0;
                if (data == 0) {
                    $("#statusaction" + userid).text(curstatus);
                } else {
                    $("#statusaction" + userid).text((curstatus == "Activate") ? ("Deactivate") : ("Activate"));
                    $("#statustxt" + userid).text((curstatus == "Activate") ? ("Active") : ("Dormant"));
                }
            });
        });
        
        $(document).on("click", ".remove", function (event) {
            userid = $(this).attr("data-userid");
            $.ajax({
                type: 'GET',
                url: '{{path('removeuser')}}',
                data: {userid: userid}
            }).done(function (data) {
                data = data - 0;
                if (data == 0) {
                    alert("Operation Unsuccessful!");
                } else {
                    $("#user" + userid).remove();
                }
            });
        });
    </script>
{% endblock %}