{% extends 'base.html.twig' %}
{% block pagecontent %} 
    <style>
        #ticketinfo tr td:first-child{
            text-align: left;
            font-weight: bold;
        }
        #ticketinfo tr td:last-child{
            text-align: right;
        }
    </style>
    <div class="row"> 
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>{{pagetitle}}</h3>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="ticketinfo" class="table table-bordered table-condensed table-striped table-responsive">
                            <tr><td>Tkt No./PNR</td><td>{{ticket.getTicketNo()}}/{{ticket.getPnr()}}</td></tr>
                            <tr><td>Cost of Ticket</td><td>&#8358;{{ticket.getTicketCost()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Fare</td><td>&#8358;{{ticket.getFare()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Commission</td><td>&#8358;{{((ticket.getCommission()/100)*ticket.getFare())|number_format(2,'.',',')}}({{ticket.getCommission()}}%)</td></tr>
                            <tr><td>Witholding Tax</td><td>&#8358;{{((ticket.getWitholdingTax()/100)*((ticket.getCommission()/100)*ticket.getFare()))|number_format(2,'.',',')}}({{ticket.getWitholdingTax()}}%)</td></tr>
                            <tr><td>Service Charge</td><td>&#8358;{{ticket.getServiceCharge()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Leadway Fee</td><td>&#8358;{{ticket.getLeadwayFee()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Amount Due</td><td>&#8358;{{ticket.getAmountDue()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Amount Paid</td><td>&#8358;{{ticket.getAmountPaid()|number_format(2,'.',',')}}</td></tr>
                            <tr><td>Balance Due</td><td>&#8358;{{(ticket.getAmountDue()-ticket.getAmountPaid())|number_format(2,'.',',')}}</td></tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" >
                        {{form(form)}}
                        <a href ="{{ref}}" class="btn btn-danger btn-xs">Cancel</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type='text/javascript'>
    </script>
{% endblock %}