{% extends 'base.html.twig' %}
{% block pagecontent %}           
    <div class="row"> 
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>{{pagetitle}}</h3>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12" id='partnerlist'>
                    {% if tickets is not empty %}
                        <table class="table table-bordered table-condensed table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Tkt No./PNR</th>
                                    <th>Cost of Tk</th>
                                    <th>Fare</th>
                                    <!--<th>Agent</th>-->
                                    <th>Commission</th>
                                    <th>Witholding Tax</th>
                                    <th>Service Charge</th>
                                    <th>Amount Due</th>
                                    <!--<th>Amount Paid</th>-->
                                    <th>Date of Entry</th>
                                    <!--<th>Sales Personnel</th>-->
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>{{loop.index}}</td>
                                        <td>{{ticket.getTicketNo()}}/{{ticket.getPnr()}}</td>
                                        <td>{{ticket.getTicketCost()|number_format(2,'.',',')}}</td>
                                        <td>{{ticket.getFare()|number_format(2,'.',',')}}</td>
                                        <!--<td>{% if (ticket.getAgent()!= null) %}{{ticket.getAgent().getAgentFullName()}} {% endif %}</td>-->
                                        <td>{{((ticket.getCommission()/100)*ticket.getFare())|number_format(2,'.',',')}}({{ticket.getCommission()}}%)</td>
                                        <td>{{((ticket.getWitholdingTax()/100)*((ticket.getCommission()/100)*ticket.getFare()))|number_format(2,'.',',')}}({{ticket.getWitholdingTax()}}%)</td>
                                        <td>{{ticket.getServiceCharge()|number_format(2,'.',',')}}</td>
                                        <td>{{ticket.getAmountDue()|number_format(2,'.',',')}}</td>
                                        <!--<td>{{ticket.getAmountPaid()|number_format(2,'.',',')}}</td>-->
                                        <td>{{ticket.getEntryDate()|date('d/M/Y')}}</td>
                                        <!--<td>{{ticket.getUser().getUserFullName()}}</td>-->
                                        <td>{{ticket.getStatus()|humanize|capitalize}}</td>
                                        <td>
                                            <a href="{{path('f', {'id': ticket.getticketId()})}}" title="View Ticket Details" class="btn btn-success btn-xs" id='remove'>
                                                <span class="fa fa-eye" aria-hidden="true"></span>
                                            </a>

                                            {% if(ticket.getStatus()!="refunded") %}
                                                <a href="{{path('removeflightticket', {'id': ticket.getticketId()})}}" title="Add or Remove Payment" class="btn btn-default btn-xs" id='remove'>
                                                    <span class="fa fa-minus" aria-hidden="true"></span> <span class="fa fa-money" aria-hidden="true"></span> <span class="fa fa-plus" aria-hidden="true"></span>
                                                </a>
                                                {% if(ticket.getStatus()!="not-paid" ) %}
                                                    <a href="{{path('f', {'id': ticket.getticketId()})}}" title="Cancel and Refund Payment" class="btn btn-danger btn-xs">
                                                        <span class="fa fa-undo" aria-hidden="true"></span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if(ticket.getStatus()=="not-paid") %}
                                                <a href="{{path('removeflightticket', {'id': ticket.getticketId()})}}" title="Cancel Ticket" class="btn btn-danger btn-xs" id='remove'>
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning" role="alert">No Record Found!</div>
                    {% endif %}
                    <a href="{{path('addflightticket')}}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </a>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type='text/javascript'>
    </script>
{% endblock %}